div.immenu {background-color:#f0f0f0;padding:5px;border-radius:3px}
table.roomsmanagement td {text-align: center}
table.roomsmanagement {
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 20px;
}
table.roomsmanagement th {
  background-color: #bd0000;
  text-align: center;
  color: white;
  padding: 4px;
}
