div.bookright {
  float: right;
  border-radius: 5px;
  background-color: #cccccc;
  width: 320px;
  min-height: 100px;
  padding: 10px;
  border: 3px solid #888888;
  margin-left: 5px;
}
h1.secacc {
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 5px;
}

h1.secacc a {
  color: black;
}

#tablepricing {
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 20px;
}
#tablepricing td {
  text-align: center;
}
#tablepricing th {
  background-color: #bd0000;
  text-align: center;
  color: white;
  padding: 4px;
}
#tablepricing input {
  width: 80px;
}
input.extraHow {
  width: 40px;
}
input.extraCost {
  width: 60px;
}
