div.immenu {background-color:#f0f0f0;padding:5px;border-radius:3px}
table.roomsmanagement td {text-align: center}
div.div_search {background-color: #a0a0a0;border-radius:4px;padding:5px;margin:2px}
div.div_search_content {display:none;background-color: #f0f0f0;border-radius:4px;padding:5px;font-weight:bold;margin:4px}
